.links{
    font-size: 1.2rem;
    margin-top: 0.4rem;
    opacity: 0.8;
    cursor: pointer;
}

.link{
    color: black;
    opacity: 0.9;
}

.link:hover{
    color:rgb(62, 62, 237);
    opacity: 1;
}

.navbar{
    width: 100%;
    background-color: white;
    top: 0;
    z-index: 10;
    position: fixed;
}